:host {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100px 1fr 100px;
  height: 100%;
  footer,
  header {
    align-items: center;
    background-color: var(--primary-color);
    color: var(--alternate-text-color);
    display: flex;
    font-size: 36px;
    font-size: 3.5vw;
    justify-content: center;
    padding: 10px;
  }
  header > span {
    padding: 0 20px;
    max-width: 1024px;
    width: 100%;
  }
}
