<div
  class="actions-container"
  [hidden]="users.length === 0">
  <button
    (click)="editAll()"
    color="primary"
    type="button"
    mat-button
    >
    Edit All
  </button>
  <button
    (click)="clearList()"
    color="primary"
    style="margin-left: 30px"
    type="button"
    mat-button
    >
    Delete All
  </button>
</div>
<div class="user-list">
  <div
    *ngFor="let user of users; index as i"
    class="user-list-item"
    >
    <mat-form-field
      [hidden]="!user.isInEditMode"
      appearance="standard"
      >
      <input
        [(ngModel)]="user.name"
        placeholder="Username"
        matInput
      />
    </mat-form-field>
    <span
      [hidden]="user.isInEditMode"
      >
      {{ user.name }}
    </span>
    <div>
      <button
        (click)="editUser(user)"
        [hidden]="user.isInEditMode"
        color="primary"
        type="button"
        mat-button
        >
        Edit
      </button>
      <button
        (click)="removeUserFromList(i)"
        [hidden]="user.isInEditMode"
        color="primary"
        type="button"
        mat-button
        >
        Delete
      </button>
      <button
        (click)="saveUser(user)"
        [hidden]="!user.isInEditMode"
        color="primary"
        type="button"
        mat-button
        >
        Save
      </button>
    </div>
  </div>
  <span
    [hidden]="users.length !== 0">
    You must add new users!
  </span>
</div>
