<div
  class="actions-container"
  [hidden]="users.length === 0">
  <button
    (click)="editAll()"
    color="primary"
    type="button"
    mat-button
    >
    Edit All
  </button>
  <button
    color="primary"
    style="margin-left: 30px"
    type="button"
    mat-button
    >
    Delete All
  </button>
</div>
<div class="user-list">
  <div
    *ngFor="let user of users"
    class="user-list-item"
    >
    <mat-form-field appearance="standard">
      <input
        [(ngModel)]="user.name"
        [readonly]="readState"
        placeholder="Username"
        matInput
      />
    </mat-form-field>
    <div>
      <button
        color="primary"
        type="button"
        mat-button
        >
        Edit
      </button>
      <button
        color="primary"
        type="button"
        mat-button
        >
        Delete
      </button>
      <button
        color="primary"
        type="button"
        mat-button
        >
        Save
      </button>
    </div>
  </div>
</div>
